@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<!DOCTYPE HTML>
<html>
    <head>
        @Html.Partial("Load Styles")
        @Html.Partial("Load Scripts")
        @Html.Partial("Meta Data")
        <render-script position="HeadBottom"></render-script>
    </head>
    <body>
        <render-script position="BodyTop"></render-script>
        @Html.Partial("Navigation")
        @RenderBody()
        @Html.Partial("Footer")
        @RenderSection("scripts", required:false)
        @Html.Partial("Footer Scripts")
        <render-script position="BodyBottom"></render-script>
    </body>
</html>

